.time-scale {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 5px;
}
.time-scale-hours {
  box-sizing: border-box;
  padding-left: 3px;
  border-bottom: 1px solid rgba(59, 140, 216, 0.692);
  border-left: 1px solid rgba(59, 140, 216, 0.692);
}
